<!doctype html>
<html ng-app="metroGnome">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="static/p5.min.js"></script>
        <script language="javascript" type="text/javascript" src="static/p5.sound.js"></script>
        <script language="javascript" type="text/javascript" src="build/metroGnome.min.js"></script>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <!--<h1>metroGnome</h1>-->
        <div ng-controller="bpmController">
            <div ng-controller="bpmController" id="canvas" ng-click="tapBpm()">
            </div>
            <button class="noselect" ng-click="toggleClicking()">{{buttonText}}</button>
            <input type="range" id="bpmRange" ng-model="bpmRange.value" ng-change="updateFromRange()" min="0" max="{{maxBpm.value}}" step="1" value="{{defaultBpm.value}}" style="width: 200px">
            <input type="number" id="bpmNumber" ng-model="bpmNumber.value" ng-change="updateFromNumber()" min="0" max="{{maxBpm.value}}" step="1" value="{{defaultBpm.value}}">
            <div></div>
            <input type="checkbox" id="hasTimeSig" ng-model="hasTimeSig">
            <label for="hasTimeSig">Use time signature?</label>
            <div ng-if="hasTimeSig">
                <p><select ng-model="beatsPerMeasure">
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
                <select ng-model="beatDivision">
                    <option value="4">4</option>
                    <option value="8">8</option>
                <select>

                {{beatsPerMeasure}} / {{beatDivision}}
                </p>
            </div>
        </div>
    </body>
</html>
