<!doctype html>
<html ng-app="metroGnome">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="static/p5.min.js"></script>
        <script language="javascript" type="text/javascript" src="static/p5.sound.js"></script>
        <script language="javascript" type="text/javascript" src="build/metroGnome.min.js"></script>
    </head>
    <body>
        <div ng-controller="bpmController">
            <input type="range" id="bpmRange" ng-model="bpmRange.value" ng-change="updateFromRange()" min="0" max="{{maxBpm.value}}" step="1" value="{{defaultBpm.value}}">
            <input type="number" id="bpmNumber" ng-model="bpmNumber.value" ng-change="updateFromNumber()" min="0" max="{{maxBpm.value}}" step="1" value="{{defaultBpm.value}}">
        </div>
        <div ng-controller="bpmController" id="canvas" ng-click="tapBpm()">
        </div>
    </body>
</html>
